.post {
  margin-top: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  overflow-x: hidden;
}

.post h1,
.post h3,
.post > p,
.post div {
  width: 600px;
  margin: 0 auto;
}

.post > h3 {
  margin-top: 2rem;
}

.post img {
  width: 600px;
}

.post div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.post p {
  font-style: italic;
}

.post > div > p > span {
  font-weight: 600;
  font-size: 0.7rem;
}

.post > span {
  margin-top: 3rem;

  text-align: right;
  width: 600px;
  font-style: italic;
  font-size: 0.7rem;
}

.post > span > span {
  font-weight: 600;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .post {
    max-width: 90%;
    margin: 2rem auto 0;
  }

  .post > span {

    width: 100%
  }
}
