.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  min-height: 100%;
}

.registerContainer p {
  color: #aaa;
}
