* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 5rem;
}

a {
  text-decoration: none;

  transition: all 0.4s;
  cursor: pointer;
}

form {
  margin: 0 auto;
  width: 70%;

  padding: 1rem 2rem;

  /* border: 2px solid #AAA;
  border-radius: 0.25rem; */
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label span {
  margin-bottom: 0.3rem;
  text-align: left;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 0.3rem;
  background-color: transparent;
}

.btn {
  background: rgb(27, 27, 27);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  min-width: 120px;
  font-weight: 700;
  border: none;
  padding: 0.7rem 0.9rem;
  font-size: 1rem;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 0.45rem 1.9rem;
}

.btn:hover {
  background: #AAA;
}

.btn.btn-outline:hover {
  background: #000;
  color: #fff;
}

.btn.btn-danger:hover {
  background: #dc3545;
}

.btn-logout {
  padding: 0.4rem;

  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;

}

.btn-logout:hover {
  padding: 0.4rem;

  color: #000;
  border: 1px solid #fff;
  background-color: #fff;

}

button[disabled] {
  background-color: #aaa;
}

/* button[type=submit] {
  background-color: #aaa;
} */

.container .error {
  margin-top: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 0.3rem;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .btn-logout {

    padding: 0.4rem;

    font-size: .6rem;
  }
}