.App > ul {
  list-style: none;
  display: flex;
  align-items:center;
  justify-content: space-between;
  width:100px;
  margin-bottom: 3rem;
}

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  margin-bottom: 1rem;
}