.dashboard {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.dashboard p {
  color: #aaa;
  margin: 1rem 0;
}

.noposts {
  text-align: center;
}
.noposts p {
  margin-bottom: 1.5rem;
}

.noposts a {
  padding: 10px 25px;
}

.post_header,
.post_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
}
.post_header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.post_row {
  border-bottom: 1px solid #eee;
}

.post_row a, .post_row button{
  margin: 0 5px;
  height: 30px;
  width: 100px;
  font-size:.7rem;

}


@media (max-width: 768px) {
  .post_row >div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}