.car-container {
    background-color: rgb(250, 250, 250);
    border-radius: .5rem;
    padding: 1rem;

    width: 300px;

    text-align: left;
}

.car-container p {
    font-size: 1.2rem;

}

.car-container span {
    font-weight: 600;
}